In [1]:
# format strings
x=1244515645645645
print(f"{x:,}")
# this statement use the comma , as the thousand separator
print(f"{x:_}")
# this statement use the underscore _ as the thousand separator
# only these two options used as a thousand separator

1,244,515,645,645,645
1_244_515_645_645_645

In [2]:
str="abc"
print(f"{str:>20}")
# print the result with right indent and take 20 characters

                 abc

In [3]:
str="abc"
print(f"{str:>20}:")

                 abc:

In [4]:
str="abc"
print(f"{str:<20}:")
# print the result with left indent and take 20 characters

abc                 :

In [5]:
str="abc"
print(f"{str:^20}:")
# print the result with center indent and take 20 characters

        abc         :

In [7]:
str="abc"
print(f"{str:~>20}")
# print the result with right indent and take 20 characters
# the ~ tild used as a fill character

~~~~~~~~~~~~~~~~~abc

In [8]:
str="abc"
print(f"{str:~>20}:")
# print the result with right indent and take 20 characters
# the ~ tild used as a fill character

~~~~~~~~~~~~~~~~~abc:

In [9]:
str="abc"
print(f"{str:_<20}:")
# print the result with left indent and take 20 characters
# the _ underscore used as a fill character

abc_________________:

In [10]:
str="abc"
print(f"{str:*^20}:")
# print the result with center indent and take 20 characters
# the * asteric used as a fill character

********abc*********:

In [3]:
f=124545.58746
print(f)
print(f"{f:,.2f}")
# a thousand separator used
# after the decimal point it will print 2 nos

124545.58746
124,545.59

In [4]:
f=124545.58746
print(f)
print(f"{f:,.3f}")
# a thousand separator used
# after the decimal point it will print 3 nos

124545.58746
124,545.587

In [5]:
f=124545.58746
print(f)
print(f"{f:,.0f}")
# a thousand separator used
# after the decimal point it wont print  nos

124545.58746
124,546

In [9]:
a=10
b=25
print("a + b =",a+b)
# use of without format strings

a + b = 35

In [10]:
a=10
b=25
str=" This is an example of Format string"
print(f"{a + b = }")
# same result with format strings

a + b = 35

In [11]:
print(f"{str = }")

str = ' This is an example of Format string'

In [12]:
a=10152
b=25784
str=" This is an example of Format string"
print(f"{a + b = :,}")
# same result with format strings 
# with thousand separator

a + b = 35,936